<a href="https://colab.research.google.com/github/sunkumx/python/blob/main/string_slicing_and_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Strings Slicing and Operations on Strings in Python | Python Tutorial - Day #12**

Link: [String Slicing & Operations on Strings](https://www.youtube.com/watch?v=8jW7lpT8HW8&list=PLu0W_9lII9agwh1XjRt242xIpHhPT2llg&index=12)

In [16]:
#Example 1
names = "Sunil, Santha"
print(names[0:5])

Sunil

In [19]:
#Example 2
fruit = "Apple"
len1 = len(fruit)
print("Mango is a", len1, "letter word")

Mango is a 5 letter word

In [29]:
#Example 3 -- Slicing
seasonFruit = "mango"
lenFruit = len(seasonFruit)
print("Length of String is", lenFruit)

print(seasonFruit[0:5])
print(seasonFruit[1:5])
print(seasonFruit[:5])
print(seasonFruit[0:-3])
print(seasonFruit[:-1])
print(seasonFruit[-1:-3])

Length of String is 5
mango
ango
mango
ma
mang

In [30]:
#Example 4 - Looping through string

alphabets = "ABCDE"
for i in alphabets:
  print(i)

A
B
C
D
E

In [31]:
#Quiz
nm = "Harry"
print(nm[-4:-2])

ar

**String Methods in Python | Python Tutorial - Day #13**

Link: [String Method](https://www.youtube.com/watch?v=0INvoK_T0cE&list=PLu0W_9lII9agwh1XjRt242xIpHhPT2llg&index=13)

Converting string to Upper, Lowercase etc

- Strings are immutable


1-- upper()

2-- lower()

3-- rstrip()

4-- replace("find","replace")

5-- split (" ")

6-- capitalize()

7-- center()

8-- count()

9-- endswith()

10-- find()

11-- index()

12-- isalnum()

13-- isalpha()

14-- islower()

15-- isprintable()

16-- isspace()

17-- istitle()

18--startswith()

19-- swapcase()

20-- title()

In [33]:
#Example 1
a = "Sunil"
print(len(a))
print(a.upper()) # upper case
print(a.lower()) # lower case

5
SUNIL
sunil

In [35]:
#Example 2 - Stripping character using RSTRIP function; It strips only trailing character
b = "Sunil !!!!!!"
c = "!!!!!Sunil!!!!"
print(b.rstrip("!")) #Example for trailing strip
print(c.rstrip("!")) #Not stripping before the string

Sunil
!!!!!Sunil

In [36]:
#Example 3 - replace()
d = "Harry"
print(d.replace("Harry","Sunil"))

Sunil

In [37]:
#Example 4 - slip()
e = "Code With Harry is Amazing"
print(e.split(" "))

['Code', 'With', 'Harry', 'is', 'Amazing']

In [39]:
#Example 5 - capitalize() - capitalizes the first character of the word
example = "welcome to 100days of python learning"
print(example.capitalize())

Welcome to 100days of python learning

In [41]:
#Example 6 - count(): counts no of character in a string
print(example.count("o"))

4

In [42]:
#Example 7 - isalnum(): checks the alpha numeric
str1 = "WelcomeToPythonTutorial"
print(str1.isalnum())

True

In [46]:
#Example 8 - islower(): return True/False if there are lower
print(str1.islower()) #This will return FALSE

lower_str = "welcometopythontutorial" #This will return TRUE
print(lower_str.islower())

False
True